Data source: https://opendata.schleswig-holstein.de/dataset/haltestellenverzeichnis

I have a dataset of all the bus stops in the state which I want to map in QGIS, but I have to clean it first.

In [9]:
import pandas as pd
df = pd.read_csv('zHV_SH.2020-04-22.csv', sep=';')

In [7]:
df.head()

,SeqNo,Type,DHID,Parent,Name,Latitude,Longitude,MunicipalityCode,Municipality,DistrictCode,District,Condition,State,Description,Authority
0,253561,S,de:01001:104053,de:01001:104053,Flensburg Amrumer Straße,"54,760085","9,39771",1001000,Flensburg,NaN,NaN,Served,Unknown,NaN,VBN
1,253562,Q,de:01001:104053::1,de:01001:104053,Flensburg Amrumer Straße,"54,760085","9,39771",0,-,-,-,Served,Unknown,NaN,VBN
2,253563,S,de:01001:104054,de:01001:104054,Flensburg Kauslund Osterallee,"54,803154","9,487795",1001000,Flensburg,NaN,NaN,Served,Unknown,NaN,VBN
3,253564,Q,de:01001:104054::1,de:01001:104054,Flensburg Kauslund Osterallee,"54,803154","9,487795",0,-,-,-,Served,Unknown,NaN,VBN
4,253565,S,de:01001:104055,de:01001:104055,Flensburg Lise-Meitner-Straße,"54,760474","9,44108",1001000,Flensburg,NaN,NaN,Served,Unknown,NaN,VBN

In [10]:
df = df.drop(columns=["SeqNo", "Type", "DHID", "Parent", "MunicipalityCode", "Municipality", "DistrictCode", "District", "State", "Description", "Authority"])

In [15]:
df.head()

                            Name   Latitude Longitude
0       Flensburg Amrumer Straße  54,760085   9,39771
1       Flensburg Amrumer Straße  54,760085   9,39771
2  Flensburg Kauslund Osterallee  54,803154  9,487795
3  Flensburg Kauslund Osterallee  54,803154  9,487795
4  Flensburg Lise-Meitner-Straße  54,760474   9,44108

Checking whether the set contains bus stops that are not being served so I can get rid of those.

In [12]:
df["Condition"][df["Condition"].duplicated()].unique()

array(['Served'], dtype=object)

In [ ]:
Great, so we can drop this column too.

In [13]:
df = df.drop(columns=["Condition"])

In [14]:
df.head()

                            Name   Latitude Longitude
0       Flensburg Amrumer Straße  54,760085   9,39771
1       Flensburg Amrumer Straße  54,760085   9,39771
2  Flensburg Kauslund Osterallee  54,803154  9,487795
3  Flensburg Kauslund Osterallee  54,803154  9,487795
4  Flensburg Lise-Meitner-Straße  54,760474   9,44108

I have to replace the commas with dots so QGIS can read the lat and long.

In [16]:
df["Latitude"] = df["Latitude"].str.replace(",", ".", regex=False)
df["Longitude"] = df["Longitude"].str.replace(",", ".", regex=False)

In [17]:
df.head()

                            Name   Latitude Longitude
0       Flensburg Amrumer Straße  54.760085   9.39771
1       Flensburg Amrumer Straße  54.760085   9.39771
2  Flensburg Kauslund Osterallee  54.803154  9.487795
3  Flensburg Kauslund Osterallee  54.803154  9.487795
4  Flensburg Lise-Meitner-Straße  54.760474   9.44108

Looks good, saving it!

In [18]:
df.to_csv("busstops_clean.csv", index=False)