Scraping the visitor's tax for all the seaside resorts in the state from this site: https://www.ostseeurlaub-online.de/infos/kurtaxe/

In [1]:
from bs4 import BeautifulSoup
import requests

response = requests.get("https://www.ostseeurlaub-online.de/infos/kurtaxe/")
doc = BeautifulSoup(response.text)

In [2]:
items = doc.find_all(class_="kurtaxe-ort")
for item in items:
    print("------")
    print(item)

------
<div class="kurtaxe-ort">
<h3><a name="ahrenshoop">Ostseebad Ahrenshoop</a></h3>
<p><strong>Reisezeit A: </strong>1. Mai - 30. September<br/>
    Erwachsene: 2,50
  Euro<br/>
  Ermässigt:  2,00 Euro</p>
<p><strong>Reisezeit B: </strong>1. Oktober - 30. April<br/>
Erwachsene: 1,50
  Euro<br/>
Ermässigt:  1,00 Euro</p>
<p><strong>Sonstiges:</strong><br/>
    - Ermässigt: Schüler, Studenten, Auszubildende, Bundesfreiwilligendienstleistende, Behinderte ab 50 %<br/>
- Personen bis zur Vollendung des 18. Lebensjahr sind von der Kurtaxe befreit<br/>
- keine Kurtaxepflicht für Hunde</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="baabe">Ostseebad Baabe</a></h3>
<p><strong>01.05.-31.10. und 23.12.-06.01.</strong><br/>
    Erwachsene: 2,30
  Euro<br/>
  Kinder (8-17 Jahre): 1,15 Euro</p>
<p><strong>07.01.-30.04. und 01.11.-22.12.</strong><br/>
Erwachsene: 1,80
  Euro<br/>
Kinder (8-17 Jahre): 0,90 Euro</p>
<p><strong>Sonstiges:</strong><br/>
    - Hunde: 0,50 Euro<br/>
    - Tagesgäste 01.06.-30.09.: Erwachsene 2,80
  Euro,
Kinder 1,40 Euro<br/>
- Kinder bis 15 Jahre kostenfrei
<br/>
    - Personen ab einem Behinderungsgrad von 80 % sowie deren bestätigte Begleitperson kostenfrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="binz">Ostseebad Binz</a></h3>
<p><strong>ganzjährig</strong><br/>
  Erwachsene: 2,85 Euro</p>
<p><strong>Sonstiges:</strong><br/>
- Hunde: 1,00 Euro<br/>
- Kinder in Begleitung einer abgabepflichtigen Person bis zur Vollendung des 18. Lebensjahres kostenfrei<br/>
  - Personen ab einem Behinderungsgrad von 80 % sowie deren bestätigte Begleitperson kostenfrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="boltenhagen">Ostseebad Boltenhagen</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 30. September:<br/>
  Personen ab 17 Jahren: 2,10 Euro<br/>
  Ermässigt: 1,00 Euro
</p>
<p><strong>Nebensaison</strong> vom 1. Oktober bis 30. April:<br/>
  Personen ab 17 Jahren: 1,50 Euro<br/>
Ermässigt: 0,50 Euro </p>
<p><strong>Sonstiges:</strong><br/>
- Kinder/Jugendliche bis zum vollendeten 16. Lebensjahr kurtaxefrei<br/>
- Schwerbehinderte mit einem Grad der Behinderung von 100% kurtaxefrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="born">Ostseebad Born a. Darß</a></h3>
<p><strong>ganzjährig</strong>:<br/>
    Personen ab 16 Jahre: 2,50
  Euro<br/>
  Kinder (6-15 Jahre): 1,60 Euro</p>
<p><strong>Sonstiges:</strong><br/>
 - Kinder bis 5 Jahre kostenfrei
<br/>
    - Personen mit einem Behinderungsgrad von 100 %  kostenfrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="breege-juliusruh">Breege-Juliusruh</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Juni bis 15. September:<br/>
  Erwachsene: 1,50 Euro<br/>
  Ermäßigt: 1,20 Euro
</p>
<p><strong>Nebensaison</strong> vom 16. September bis 31. Mai:<br/>
  Erwachsene: 1,20 Euro<br/>
Ermäßigt: 0,60 Euro </p>
<p><strong>Sonstiges:</strong><br/>
- Ermäßigt: Kinder 10-17 Jahre, Schüler, Azubis etc., Schwerbehinderte mit mehr als 50% Behinderung<br/>
- Kurabgabe-frei:
Kinder unter 10 Jahren, Schwerbehinderte mit 100% Behinderung<br/>
-
Hunde: 0,50 Euro</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="dierhagen">Ostseebad Dierhagen</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 31. Oktober:<br/>
  Personen ab 17 Jahre: 2,50 Euro<br/>
  Ermässigt: 2,00 Euro
</p>
<p><strong>Nebensaison</strong> vom 1. November bis 30. April:<br/>
  Personen ab 17 Jahre: 1,50 Euro<br/>
Ermässigt: 1,00 Euro </p>
<p><strong>Sonstiges:</strong><br/>
- Hunde: keine Kurtaxe<br/>
- Ermässigt: Schüler, Studenten, Schwerbeschädigte (100%)</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="glowe">Glowe</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Juni bis 31. August:<br/>
  Erwachsene: 1,00 Euro<br/>
  Ermäßigt: 0,75 Euro
</p>
<p><strong>Nebensaison</strong> vom 01. September bis 31. Mai:<br/>
  Erwachsene: 0,75 Euro<br/>
Ermäßigt: 0,50 Euro </p>
<p><strong>Sonstiges:</strong><br/>
- Ermäßigt: Kinder 13-17 Jahre, Schüler, Azubis etc.<br/>
- Kurabgabe-frei:
Kinder unter 10 Jahren, Jede 5. und weitere Person einer Familie (ab. 3. Kind frei)<br/>
-
Hunde: 0,50 Euro</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="graal-mueritz">Graal-Müritz</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 30. September:<br/>
  Erwachsene: 2,00 Euro<br/>
  Ermäßigt: 1,00 Euro
</p>
<p><strong>Nebensaison</strong> vom 01. Oktober bis 30. April:<br/>
  Erwachsene: 1,00 Euro<br/>
Ermäßigt: 0,50 Euro </p>
<p><strong>Sonstiges:</strong><br/>
- Ermäßigt: Jugendliche 17-18 Jahre, SSchüler, Studenten und Auszubildende, Schwerbehinderte  mind. 50%<br/>
- Kurabgabe-frei: Kinder bis 16 Jahre</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="groemitz">Grömitz</a></h3>
<p><strong>Hauptsaison</strong> vom 15. Mai bis 15. September:<br/>
  Erwachsene: 3,00 Euro</p>
<p><strong>Nebensaison</strong> vom 16. September bis 14. Mai:<br/>
  Erwachsene: 1,70 Euro</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="goehren">Ostseebad Göhren</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 30. September:<br/>
  Erwachsene: 2,40 Euro<br/>
  Kinder ab 8 Jahre: 1,20 Euro<br/>
Ermäßigt: 1,20 Euro </p>
<p><strong>Vor- und Nachsaison</strong> vom 1. Oktober bis 30. April:<br/>
  Erwachsene: 2,00 Euro<br/>
Kinder ab 8 Jahre: 1,00 Euro<br/>
Ermäßigt: 1,00 Euro </p>
<p><strong>Sonstiges:</strong><br/>
- Hunde: 0,50 Euro<br/>
- Kinder / Jugendliche bis 18 Jahre kostenfrei kostenfrei<br/>
  - Personen ab einem Behinderungsgrad von 80 % ermäßigt </p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="heiligenhafen">Heiligenhafen</a></h3>
<p><strong>Hauptsaison </strong>01.01. - 08.01., 01.04. - 31.10., 22.12. - 31.12.<br/>
  Erwachsene: 3,00 Euro</p>
<p><strong>Nebensaison</strong>09.01. - 31.03., 01.11. - 21.12.<br/>
  Erwachsene: 1,80 Euro</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="hohwacht">Hohwacht</a></h3>
<p><strong>Hauptsaison</strong> vom 15. Juni bis 15. September:<br/>
Erwachsene: 2,40 Euro</p>
<p><strong>Nebensaison</strong> vom 1. November bis 31. März :<br/>
  Erwachsene: 0,50 Euro</p>
<p><strong>Zwischensaison</strong> vom 01. April bis 14. Juni und 16. September bis 31. Oktober :<br/>
Erwachsene: 1,20 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - bis 18 Jahre Kurtaxe-frei <br/>
  - Freiwilligendienstler BDF, Schüler, Studenten und Auszubildende erhalten 25% Ermäßigung<br/>
  - Behinderte mit einem Behinderungsgrad von mind. 80% erhalten 50% Ermäßigung </p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="fehmarn">Insel Fehmarn</a></h3>
<p><strong>Hauptsaison</strong> vom 15. Mai bis 14. September:<br/>
  Erwachsene: 2,00 Euro</p>
<p><strong>Nebensaison</strong> vom 15. September bis 14. Mai:<br/>
  Erwachsene: 1,00 Euro</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="poel">Insel Poel</a></h3>
<p><strong>Hauptsaison</strong> vom 01. Mai bis 30. September:<br/>
Erwachsene: 2,00 Euro</p>
<p><strong>Nebensaison</strong> vom 1. Oktober bis 30. April :<br/>
  Erwachsene: 1,00 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - bis 18 Jahre Kurtaxe-frei <br/>
  - Behinderte mit einem Behinderungsgrad von mind. 80% Kurtaxe-frei </p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="kaiserbaeder">KaiserbÄder (Ahlbeck, bansin, Heringsdorf)</a></h3>
<p><strong>Hauptsaison</strong> vom 1. April bis 31. Oktober:<br/>
Personen ab 16 Jahre: 2,70 Euro<br/>
Kindern ab 10 Jahre: 1,60 Euro
<br/>
Ermässigt: 1,60 Euro
</p>
<p><strong>Nebensaison</strong> vom 1. November bis 31. März:<br/>
  Personen ab 16 Jahre: 2,10 Euro<br/>
Kindern ab 10 Jahre: 1,30 Euro <br/>
Ermässigt: 1,30 Euro </p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder  bis 9 Jahre kostenfrei <br/>
  - Ermäßigt:   Schülern, Studenten, Azubis etc, Personen ab einem Behinderungsgrad von 80 % </p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="karlshagen">Ostseebad Karlshagen</a></h3>
<p><strong>Hauptsaison</strong> vom 1. April bis 31. Oktober, 20. Dez. bis 10. Jan.::<br/>
Erwachsene: 2,00 Euro<br/>
</p>
<p><strong>Nebensaison</strong> vom 1. November bis 19. Dezember, 11. Jan. bis 31. März:<br/>
  Erwachsene: 1,00 Euro<br/>
</p>
<p><strong>Sonstiges:</strong><br/>
  - Ermäßigte Kurabgabe: 0,50 € für Schüler, Studenten, Auszubildende und Jugendlichen von 16 - 18 Jahren<br/>
  - Befreiung von der Kurabgabe: Kinder bis 16 Jahre und Schwerbehinderte  (Grad der Behinderung ab 80 %)<br/>
  - Kurtaxe Hunde: 0,50 Euro
</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="koserow">Ostseebad Koserow</a></h3>
<p><strong>Hauptsaison</strong> vom 1. April bis 31. Oktober:<br/>
Erwachsene: 2,00 Euro<br/>
Personen von 14-17 Jahren: 1,00 Euro</p>
<p><strong>Nebensaison</strong> vom 1. November bis 31. März:<br/>
Erwachsene: 1,00 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - Befreiung von der Kurabgabe: Kinder bis 18 Jahre</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="kuehlungsborn">Ostseebad Kühlungsborn</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 30. September:<br/>
Erwachsene: 2,00 Euro<br/>
Ermässigt: 1,00 Euro
</p>
<p><strong>Nebensaison</strong> vom 1. Oktober bis 30. April:<br/>
  Erwachsene: 1,00 Euro<br/>
Ermässigt: 0,50 Euro </p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder  / Jugendliche bis 18 Jahre kostenfrei <br/>
  - Ermäßigt (hälftige Kurabgabe):  u.a. Personen ab einem Behinderungsgrad von 60 %, Schüler &amp; Studenten</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="loddin">Ostseebad Loddin</a></h3>
<p><strong>Hauptsaison</strong> vom 1. April bis 31. Oktober:<br/>
Erwachsene: 1,85 Euro<br/>
Personen von 13-17 Jahren: 1,25 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - Befreiung von der Kurabgabe: Kinder bis 12 Jahre und Schwerbehinderte  (Grad der Behinderung ab 80 %)</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="lohme">Lohme</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 31. Oktober:<br/>
Erwachsene: 1,00 Euro<br/>
Ermässigt: 0,75 Euro
</p>
<p><strong>Nebensaison</strong> vom 1. November bis 30. April:<br/>
  Erwachsene: 0,75 Euro<br/>
Ermässigt: 0,50 Euro </p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder   bis 11 Jahre und jede 5. und weitere Person einer Familie (ab 3.Kind frei) kostenfrei <br/>
  - Ermäßigt: Schüler, Auszubildende, Studenten, Grundwehr- und Zivildienstleistende   <br/>
  - Ermäßigt:
  Schwerbehinderte mit mehr als 50% Behinderung<br/>
  -
  Schwerbehinderte mit  100% Behinderung kostenfrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="markgrafenheide">Markgrafenheide</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 30. September:<br/>
Erwachsene: 1,75 Euro<br/>
Ermässigt: 1,25 Euro
</p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder  bis 16 Jahre Kurtaxe-frei <br/>
  - Ermässigt: ab 16 jahre, Schüler, Azubis, Studenten und
  Schwerbehinderte (Grad der Behinderung von 50 %)<br/>
  - Schwerbehinderte mit Grad der Behinderung ab 80 % kurabgabefrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="neustadt">Neustadt / Holstein</a></h3>
<p><strong>Hauptsaison</strong> vom 01. Juni bis 31. August:<br/>
Erwachsene: 2,50 Euro</p>
<p><strong>Vor-/Nachsaison</strong> vom Mai und September:<br/>
Erwachsene: 1,25 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - bis 18 Jahre Kurtaxe-frei <br/>
  -
  Behinderte mit einem Behinderungsgrad von mind. 80% Kurtaxe-frei </p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="prerow">Ostseebad Prerow</a></h3>
<p><strong>Hauptsaison</strong> 01. Juni - 30. September:<br/>
Erwachsene: 2,00 Euro<br/>
Ermässigt: 1,00 Euro
</p>
<p><strong>Nebensaison</strong> 01. Oktober - 31. Mai:<br/>
Erwachsene: 1,00 Euro<br/>
Ermässigt: 0,50 Euro </p>
<p><strong>Sonstiges:</strong><br/>
  - Hunde sind nicht kurtaxepflichtig<br/>
  - Ermäßigt: Schüler, Studenten, Auszubildende, Schwerbehinderte Personen mit mindestens 70% Erwerbsminderung<br/>
  -
Kinder unter 6 Jahren sind von der Kurabgabe befreit<br/>
- jede fünfte und weitere Person einer ist kurtaxefrei<br/>
-
Schwerstbehinderte mit einer Behinderung von 100 % kurtaxefrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="rerik">Ostseebad Rerik</a></h3>
<p><strong>Hauptsaison</strong> 15. Mai - 15. September:<br/>
Erwachsene: 2,00 Euro</p>
<p><strong>Nebensaison</strong> 16. September - 14. Mai:<br/>
  Erwachsene: 0,75 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder (bis 18 Jahre) kostenfrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="sassnitz">Sassnitz</a></h3>
<p><strong>Hauptsaison</strong> 01.05. – 30.09. und 24.12. - 03.01., Ostern:<br/>
Erwachsene: 1,50 Euro<br/>
Ermässigt: 1,20 Euro
</p>
<p><strong>Vor-/Nachsaison </strong>01.10. - 23.12. / 04.01. - 30.04.:<br/>
  Erwachsene: 1,00 Euro<br/>
Ermässigt: 0,80 Euro </p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder  / Jugendliche bis 17 Jahre kostenfrei <br/>
  - Ermäßigt: Schwerbehinderte  ab 80%</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="sellin">Ostseebad Sellin</a></h3>
<p><strong>Hauptsaison</strong> 01.05. – 30.09. und 23.12. - 03.01.:<br/>
Erwachsene: 2,80 Euro<br/>
Ermässigt: 1,40 Euro
</p>
<p><strong>Vor-/Nachsaison </strong>03.01.-30.04. / 01.10. – 22.12.:<br/>
  Erwachsene: 1,40 Euro<br/>
Ermässigt: 0,70 Euro </p>
<p><strong>Sonstiges:</strong><br/>
  - Kurtaxe frei: Kinder bis 12 Jahre, Schwerbehinderte  ab 80%<br/>
  - Ermäßigt: Kinder ab 12 Jahre, Azubis und Studenten</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="thiessow">Ostseebad Thiessow</a></h3>
<p><strong>Hauptsaison</strong> vom 5. Juni – 14. September:<br/>
Erwachsene: 2,20 Euro<br/>
Ermässigt: 1,20 Euro
</p>
<p><strong>Vor-/Nachsaison</strong> vom 1. April – 14. Juni  &amp; 15. September – 31. Oktober  <br/>
  Erwachsene: 1,20 Euro<br/>
Ermässigt: 0,60 Euro </p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder   bis 6 Jahre kostenfrei <br/>
  - Ermäßigt: Kinder ab 6 Jahre, Azubis, Studenten,
Behinderte ab 80%<br/>
- Kurtaxe Hunde: 1,00 Euro
</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="trassenheide">Ostseebad Trassenheide</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 31. Oktober:<br/>
Erwachsene: 2,30 Euro<br/>
Kinder ab 14 Jahre/ Schüler/ Studenten: 0,50 Euro </p>
<p><strong>Nebensaison</strong> vom 1. November bis 30. April:<br/>
Erwachsene: 1,00 Euro<br/>
Kinder ab 14 Jahre/ Schüler/ Studenten: kostenfrei</p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder  bis 9 Jahre Kurtaxe-frei <br/>
  - Schwerbehinderte mit Grad der Behinderung ab 80 % kurabgabefrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="ueckeritz">Ostseebad Ückeritz</a></h3>
<p><strong>Hauptsaison</strong> vom 1. April bis 31. Oktober:<br/>
Erwachsene: 2,00 Euro<br/>
Personen von 14-17 Jahren: 1,25 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - Befreiung von der Kurabgabe: Kinder bis 13 Jahre und Schwerbehinderte  (Grad der Behinderung ab 80 %)</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="wieck-darss">Wieck a.d. Darss</a></h3>
<p><strong>ganzjährig:</strong><br/>
pro Person ab 17 Jahre: 2,50 Euro<br/>
  pro Person 3-16 Jahre: 1,25 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - Jede fünfte und weitere Person einer Familie abgabefrei<br/>
  - Schwerstbehinderte mit einer Behinderung von 100 % abgabefrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="zempin">Ostseebad Zempin</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Juni bis 30. September:<br/>
Erwachsene: 2,00 Euro<br/>
Personen von 14-17 Jahren: 1,00 Euro</p>
<p><strong>Nebensaison</strong> 01.04. bis 31.05.  und 01.10. bis 31.10.:<br/>
  Erwachsene: 1,50 Euro<br/>
  Personen von 14-17 Jahren: 1,00 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - Befreiung von der Kurabgabe: Kinder bis 13 Jahre und Schwerbehinderte  (Grad der Behinderung ab 80 %)</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="warnemuende">Ostseebad Warmenünde</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 30. September:<br/>
Erwachsene: 2,25 Euro<br/>
Ermässigt: 1,50 Euro
</p>
<p><strong>Nebensaison</strong> vom 1. Oktober bis 30. April:<br/>
  Erwachsene: 1,50 Euro<br/>
Ermässigt: 1,00 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder  bis 16 Jahre Kurtaxe-frei <br/>
  - Ermässigt: ab 16 Jahre, Schüler, Azubis, Studenten und
  Schwerbehinderte (Grad der Behinderung von 50 %)<br/>
  - Schwerbehinderte mit Grad der Behinderung ab 80 % kurabgabefrei</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="zingst">Seeheilbad Zingst</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 30. September:<br/>
Erwachsene: 2,80 Euro<br/>
16-17jährig: 1,40 Euro
</p>
<p><strong>Nebensaison</strong> vom 1. Oktober bis 30. April:<br/>
  Erwachsene: 1,40 Euro<br/>
  16-17jährig: 0,60 Euro</p>
<p><strong>Sonstiges:</strong><br/>
- Hundekurkarte: 1,00 Euro<br/>
-
  Kinder  bis 16 Jahre Kurtaxe-frei <br/>
- Ermässigt 50%:  Schüler, Azubis, Studenten und
  Schwerbehinderte<br/>
- Schwerbehinderte mit Grad der Behinderung 100 % sind Kurtaxe-befreiti</p>
</div>
------
<div class="kurtaxe-ort">
<h3><a name="zinnowitz">Ostseebad Zinnowitz</a></h3>
<p><strong>Hauptsaison</strong> vom 1. Mai bis 31. Oktober:<br/>
Erwachsene (ab 17. Lebensjahr): 2,50 Euro</p>
<p><strong>Nebensaison</strong> vom 1. November bis 30. April:<br/>
  Erwachsene: 1,50 Euro</p>
<p><strong>Sonstiges:</strong><br/>
  - Kinder / Jugendliche bis 16 Jahre kostenfrei <br/>
- Hunde 0,50 Euro</p>
</div>

In [3]:
for item in items:
    print("------")
    print(item.find('h3').text)
    print(item.find('p').text)

------
Ostseebad Ahrenshoop
Reisezeit A: 1. Mai - 30. September
    Erwachsene: 2,50
  Euro
  Ermässigt:  2,00 Euro
------
Ostseebad Baabe
01.05.-31.10. und 23.12.-06.01.
    Erwachsene: 2,30
  Euro
  Kinder (8-17 Jahre): 1,15 Euro
------
Ostseebad Binz
ganzjährig
  Erwachsene: 2,85 Euro
------
Ostseebad Boltenhagen
Hauptsaison vom 1. Mai bis 30. September:
  Personen ab 17 Jahren: 2,10 Euro
  Ermässigt: 1,00 Euro

------
Ostseebad Born a. Darß
ganzjährig:
    Personen ab 16 Jahre: 2,50
  Euro
  Kinder (6-15 Jahre): 1,60 Euro
------
Breege-Juliusruh
Hauptsaison vom 1. Juni bis 15. September:
  Erwachsene: 1,50 Euro
  Ermäßigt: 1,20 Euro

------
Ostseebad Dierhagen
Hauptsaison vom 1. Mai bis 31. Oktober:
  Personen ab 17 Jahre: 2,50 Euro
  Ermässigt: 2,00 Euro

------
Glowe
Hauptsaison vom 1. Juni bis 31. August:
  Erwachsene: 1,00 Euro
  Ermäßigt: 0,75 Euro

------
Graal-Müritz
Hauptsaison vom 1. Mai bis 30. September:
  Erwachsene: 2,00 Euro
  Ermäßigt: 1,00 Euro

------
Grömitz
Hauptsaison vom 15. Mai bis 15. September:
  Erwachsene: 3,00 Euro
------
Ostseebad Göhren
Hauptsaison vom 1. Mai bis 30. September:
  Erwachsene: 2,40 Euro
  Kinder ab 8 Jahre: 1,20 Euro
Ermäßigt: 1,20 Euro
------
Heiligenhafen
Hauptsaison 01.01. - 08.01., 01.04. - 31.10., 22.12. - 31.12.
  Erwachsene: 3,00 Euro
------
Hohwacht
Hauptsaison vom 15. Juni bis 15. September:
Erwachsene: 2,40 Euro
------
Insel Fehmarn
Hauptsaison vom 15. Mai bis 14. September:
  Erwachsene: 2,00 Euro
------
Insel Poel
Hauptsaison vom 01. Mai bis 30. September:
Erwachsene: 2,00 Euro
------
KaiserbÄder (Ahlbeck, bansin, Heringsdorf)
Hauptsaison vom 1. April bis 31. Oktober:
Personen ab 16 Jahre: 2,70 Euro
Kindern ab 10 Jahre: 1,60 Euro

Ermässigt: 1,60 Euro

------
Ostseebad Karlshagen
Hauptsaison vom 1. April bis 31. Oktober, 20. Dez. bis 10. Jan.::
Erwachsene: 2,00 Euro

------
Ostseebad Koserow
Hauptsaison vom 1. April bis 31. Oktober:
Erwachsene: 2,00 Euro
Personen von 14-17 Jahren: 1,00 Euro
------
Ostseebad Kühlungsborn
Hauptsaison vom 1. Mai bis 30. September:
Erwachsene: 2,00 Euro
Ermässigt: 1,00 Euro

------
Ostseebad Loddin
Hauptsaison vom 1. April bis 31. Oktober:
Erwachsene: 1,85 Euro
Personen von 13-17 Jahren: 1,25 Euro
------
Lohme
Hauptsaison vom 1. Mai bis 31. Oktober:
Erwachsene: 1,00 Euro
Ermässigt: 0,75 Euro

------
Markgrafenheide
Hauptsaison vom 1. Mai bis 30. September:
Erwachsene: 1,75 Euro
Ermässigt: 1,25 Euro

------
Neustadt / Holstein
Hauptsaison vom 01. Juni bis 31. August:
Erwachsene: 2,50 Euro
------
Ostseebad Prerow
Hauptsaison 01. Juni - 30. September:
Erwachsene: 2,00 Euro
Ermässigt: 1,00 Euro

------
Ostseebad Rerik
Hauptsaison 15. Mai - 15. September:
Erwachsene: 2,00 Euro
------
Sassnitz
Hauptsaison 01.05. – 30.09. und 24.12. - 03.01., Ostern:
Erwachsene: 1,50 Euro
Ermässigt: 1,20 Euro

------
Ostseebad Sellin
Hauptsaison 01.05. – 30.09. und 23.12. - 03.01.:
Erwachsene: 2,80 Euro
Ermässigt: 1,40 Euro

------
Ostseebad Thiessow
Hauptsaison vom 5. Juni – 14. September:
Erwachsene: 2,20 Euro
Ermässigt: 1,20 Euro

------
Ostseebad Trassenheide
Hauptsaison vom 1. Mai bis 31. Oktober:
Erwachsene: 2,30 Euro
Kinder ab 14 Jahre/ Schüler/ Studenten: 0,50 Euro
------
Ostseebad Ückeritz
Hauptsaison vom 1. April bis 31. Oktober:
Erwachsene: 2,00 Euro
Personen von 14-17 Jahren: 1,25 Euro
------
Wieck a.d. Darss
ganzjährig:
pro Person ab 17 Jahre: 2,50 Euro
  pro Person 3-16 Jahre: 1,25 Euro
------
Ostseebad Zempin
Hauptsaison vom 1. Juni bis 30. September:
Erwachsene: 2,00 Euro
Personen von 14-17 Jahren: 1,00 Euro
------
Ostseebad Warmenünde
Hauptsaison vom 1. Mai bis 30. September:
Erwachsene: 2,25 Euro
Ermässigt: 1,50 Euro

------
Seeheilbad Zingst
Hauptsaison vom 1. Mai bis 30. September:
Erwachsene: 2,80 Euro
16-17jährig: 1,40 Euro

------
Ostseebad Zinnowitz
Hauptsaison vom 1. Mai bis 31. Oktober:
Erwachsene (ab 17. Lebensjahr): 2,50 Euro

In [4]:
rows = []

for item in items:
    row = {}
    row['Place'] = item.find('h3').text
    row['Tax'] = item.find('p').text
    
    rows.append(row)
len(rows)

35

In [5]:
import pandas as pd

df = pd.json_normalize(rows)
df.head()

                    Place                                                Tax
0    Ostseebad Ahrenshoop  Reisezeit A: 1. Mai - 30. September\n    Erwac...
1         Ostseebad Baabe  01.05.-31.10. und 23.12.-06.01.\n    Erwachsen...
2          Ostseebad Binz                ganzjährig\n  Erwachsene: 2,85 Euro
3   Ostseebad Boltenhagen  Hauptsaison vom 1. Mai bis 30. September:\n  P...
4  Ostseebad Born a. Darß  ganzjährig:\n    Personen ab 16 Jahre: 2,50\n ...

I believe there's no way I can scrape for the prices more specifically because all the entries have the same HTML, so I'm extracting just the prices now:

In [6]:
df['Tax'] = df['Tax'].str.extract(r'(\d+,\d{2})')

I want only the price for adults. The table displays both the tax rate for adults and for kids, but the one for adults always comes first so this should work to retrieving that one. I also compared it to the website so see whather there are any mistakes but it all looks good!

In [7]:
df.head()

                    Place   Tax
0    Ostseebad Ahrenshoop  2,50
1         Ostseebad Baabe  2,30
2          Ostseebad Binz  2,85
3   Ostseebad Boltenhagen  2,10
4  Ostseebad Born a. Darß  2,50

It doesn't need to specify that the places are seaside resorts on the Baltic coast ('Ostseebad') every single time so I'm getting rid of that.

In [8]:
df['Place'] = df['Place'].str.replace("Ostseebad", "", regex=False)

In [9]:
df

                                         Place   Tax
0                                   Ahrenshoop  2,50
1                                        Baabe  2,30
2                                         Binz  2,85
3                                  Boltenhagen  2,10
4                                 Born a. Darß  2,50
5                             Breege-Juliusruh  1,50
6                                    Dierhagen  2,50
7                                        Glowe  1,00
8                                 Graal-Müritz  2,00
9                                      Grömitz  3,00
10                                      Göhren  2,40
11                               Heiligenhafen  3,00
12                                    Hohwacht  2,40
13                               Insel Fehmarn  2,00
14                                  Insel Poel  2,00
15  KaiserbÄder (Ahlbeck, bansin, Heringsdorf)  2,70
16                                  Karlshagen  2,00
17                                     Koserow  2,00
18                                Kühlungsborn  2,00
19                                      Loddin  1,85
20                                       Lohme  1,00
21                             Markgrafenheide  1,75
22                         Neustadt / Holstein  2,50
23                                      Prerow  2,00
24                                       Rerik  2,00
25                                    Sassnitz  1,50
26                                      Sellin  2,80
27                                    Thiessow  2,20
28                                Trassenheide  2,30
29                                    Ückeritz  2,00
30                            Wieck a.d. Darss  2,50
31                                      Zempin  2,00
32                                  Warmenünde  2,25
33                           Seeheilbad Zingst  2,80
34                                   Zinnowitz  2,50

Fixing a few typos.

In [10]:
df['Place'] = df['Place'].str.replace("Ä", "ä", regex=False)
df['Place'] = df['Place'].str.replace("bansin", "Bansin", regex=False)

In [16]:
df

                                         Place   Tax
0                                   Ahrenshoop  2,50
1                                        Baabe  2,30
2                                         Binz  2,85
3                                  Boltenhagen  2,10
4                                 Born a. Darß  2,50
5                             Breege-Juliusruh  1,50
6                                    Dierhagen  2,50
7                                        Glowe  1,00
8                                 Graal-Müritz  2,00
9                                      Grömitz  3,00
10                                      Göhren  2,40
11                               Heiligenhafen  3,00
12                                    Hohwacht  2,40
13                               Insel Fehmarn  2,00
14                                  Insel Poel  2,00
15  Kaiserbäder (Ahlbeck, Bansin, Heringsdorf)  2,70
16                                  Karlshagen  2,00
17                                     Koserow  2,00
18                                Kühlungsborn  2,00
19                                      Loddin  1,85
20                                       Lohme  1,00
21                             Markgrafenheide  1,75
22                         Neustadt / Holstein  2,50
23                                      Prerow  2,00
24                                       Rerik  2,00
25                                    Sassnitz  1,50
26                                      Sellin  2,80
27                                    Thiessow  2,20
28                                Trassenheide  2,30
29                                    Ückeritz  2,00
30                            Wieck a.d. Darss  2,50
31                                      Zempin  2,00
32                                  Warmenünde  2,25
33                           Seeheilbad Zingst  2,80
34                                   Zinnowitz  2,50

Checking if the tax is a number in case I want to do calculations.

In [13]:
df.dtypes

Place    object
Tax      object
dtype: object

Before I can transcribe this into a float, I have to transform them into the English format instead of the German one.

In [21]:
df['Tax'] = df['Tax'].str.replace(",", ".", regex=False)

In [22]:
df.head()

           Place   Tax
0     Ahrenshoop  2.50
1          Baabe  2.30
2           Binz  2.85
3    Boltenhagen  2.10
4   Born a. Darß  2.50

In [23]:
df['Tax'] = df['Tax'].astype(float)

In [24]:
df.head()

           Place   Tax
0     Ahrenshoop  2.50
1          Baabe  2.30
2           Binz  2.85
3    Boltenhagen  2.10
4   Born a. Darß  2.50

Looks good now!

In [25]:
df.to_csv("Tax_clean.csv", index=False)